{%- assign social_icons = false -%}
{%- assign menu_enabled = false -%}

<footer class="footer-wrapper footer-position">
  <div class="page-width footer-container">
    <div class=" footer-column">
      <h4>{{section.settings.contact-label}}</h4>
      <h4 class="small-header">Hej@anlete.se</h4>
    </div>

    <div class="  footer-column">
      <h4>Fraktfritt och Smooth</h4>
      <h4 class="small-header">Hej@anlete.se</h4>
    </div>

    <div class=" footer-column">
      <h4>Finns även på</h4>
      <div class="footer-ig-icon">
        {% include 'icon-instagram' %}
      </div>
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "Footer",
    "settings": [
      {
        "id": "contact-label",
        "type": "text",
        "label": "Label",
        "default": "Har du frågor eller vill ha hjälp?",
        "placeholder": "Har du frågor eller vill ha hjälp?"
      }
    ],
  "blocks": [
    {
      "type": "menu",
      "name": "Meny",
      "limit": 2,
      "settings": [
        {
          "id": "link_list",
          "type": "link_list",
          "label": "Meny",
          "default": "footer",
          "info": "Den här menyn kommer inte att visa objekt i rullgardinsmeny"
        }
      ]
    }
  ]
}
{% endschema %}
