<section>
{%- assign featuredCollection = collections[section.settings.collection] -%}


<div class="product-slider-wrapper">
  <div class="page-width ">
    <div class="product-slider-header">
      <h1 class="mobile-h1">Selected Products</h1>
    </div>
    <div class="product-slider-container">
    {% for product in featuredCollection.products limit: 4 %}
    
      <div class="medium-up--one-quarter xsmall-small--one-half xsmall--one-whole
        padding-left-d-gutter product-slider-card-wrapper" id="card-{{ product.id }}">
        {% include 'product-card', product: product %}
      </div>
      
    {%endfor%}
    </div>
    {{ product.metafields.Special.Properties }}
  </div>
</div>

</section>
{% schema %}
  {
    "name": "Product Slider",
    "settings": [
      {
        "id": "collection",
        "type": "collection",
        "label": "Select a collection"
      }
    ]
  }
{% endschema %}