{%comment%}
{{ content_for_index }}
{%endcomment%}
{% section 'hero'%}


<div class="page-width flex-center intro-wrapper">
  <div class="flex-center introduction-container">
    <div class="intro-face-icon-wrapper medium-up-show">
      {% render 'icon-face', size: '134px' %}
    </div>
    <div class="intro-face-icon-wrapper small-down-show">
      {% render 'icon-face', size: '88px' %}
    </div>
    <div class="flex-center">
      <h3 class="xsmall-h3-regular">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed justo non quam placerat vulputate.
      </h3>
    </div>
  </div>
</div>

{% section 'three-steps' %}

{% section 'product-slider' %}

{% section 'image-with-text' %}

{% section 'article-slider' %}
